/* Navbar.css */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#navbar {
  overflow: hidden;
  background-color: #9CAFAA;
  padding: 70px 10px;
  transition: padding 0.4s, font-size 0.4s;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 99;
}

#navbar a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

#logo {
  font-size: 35px;
  font-weight: bold;
  transition: font-size 0.4s;
}

#navbar a:hover {
  background-color: #524C42;
  color: white;
}

.navbar-section{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#navbar-right {
  /* float: right; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-section .logout {
  display: flex;
  justify-content: flex-end;
  align-items: center;
    position: relative;
    bottom: 40px;
    width: 90px;
    left: 90%;
}

@media screen and (max-width: 580px) {
  #navbar {
    padding: 20px 10px !important;
  }

  #navbar a {
    float: none;
    display: block;
    text-align: left;
  }

  #navbar-right {
    float: none;
  }
}

.scrolled {
  padding: 30px 10px !important;
}

.scrolled #logo {
  font-size: 25px;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  } */

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

#photo-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  flex: 0 0 30%;
  /* Each card will take up 30% of the row */
  margin: 1%;
  /* Margin to create space between cards */
  background-color: #fff;
  /* Optional: Background color for cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  /* Optional: Box shadow for cards */

}